{% extends "layout.njk" %}


{% block content %}

<h1>Platforms</h1>
<ul>
    {% for platform in platforms %}
    <li>
          <img src="{{platform.cover}}">
          {{platform.name}}
    </li>
     {% endfor %}
</ul>

{% endblock %}