{% extends "layout.njk" %}


{% block content %}
<h1>Games par platform</h1>

<ul>
  {% for game in gamesForPlatform %}
  <li>
    <img src="{{game.cover}}">
    <a href="/games/{{game.slug}}">{{game.name}}</a>
  </li>
   {% endfor %}
</ul>

{% endblock %}


