.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

h1 {
  text-align: center;
  color: rgb(38, 131, 10);
}

p {
  text-align: center;
  color: rgb(10, 18, 131);
  border-bottom: 1%rgb (148, 40, 36);
}

.trait {
  border-bottom: 1px solid;
  margin: 0 15% 1% 15%;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
